.e-products {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.e-products h1 {
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f1f3f5;
  border-radius: 25px;
  padding: 10px 20px;
}

.search-icon {
  color: #7f8c8d;
  margin-right: 10px;
}

.search-bar input {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.cart-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  font-weight: bold;
  color: #34495e;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  animation: hoverBounce 0.3s ease-in-out;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-card h2 {
  color: #34495e;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-card .category {
  color: #7f8c8d;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.product-card .price {
  color: #27ae60;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.product-card .add-to-cart {
  background-color: #3498db;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-top: auto;
}

.product-card .add-to-cart:hover {
  background-color: #2980b9;
}
.cart-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.decrement-cart, .add-to-cart {
  background-color: #3498db;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.decrement-cart:hover {
  background-color: #e74c3c;
}

.add-to-cart:hover {
  background-color: #2980b9;
}

.product-quantity {
  font-size: 1rem;
  font-weight: bold;
  color: #34495e;
}


@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hoverBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1.05);
  }
}
